body {
    background: url('fondo.jpg');
    background-size: cover;
    color: white;
    height: 99vh;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#c{
    border: solid 1px #8098ff;
    color: #8098ff ;
    box-shadow: 5px 5px 5px #414d81;
    text-shadow: 5px 5px 5px #414d81;
    width: 70vw;
    height: 0px;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 8vw;
    
    transition: 5s;
    border-radius: 15px;
    
    
}


h1{
    
    color: #2b82ff;
}

#info_p{
    
    text-align: left ;
    overflow-y: auto;
    word-wrap: break-word;
    height: 83%;
    
    
}


span{
    
    color: #2b82ff;
    
}
